<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Ticaret</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./output.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
  <link href="./output.css" rel="stylesheet">

</head>

<body>

  <div class="min-h-screen bg-white">
    <!-- header -->

    <div class="min-h-screen bg-white">
      <!-- header -->
      <header class="sticky top-0 z-50 bg-white shadow-sm">
        <div class="container mx-auto px-4 py-8 flex items-center">
          <!-- logo -->
          <div class="mr-auto md:w-48 flex-shrink-0">
            <img class="h-8 md:h-10"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/ZDF_logo%21_Logo_2021.svg/1200px-ZDF_logo%21_Logo_2021.svg.png"
              alt="" />
          </div>
          <!-- search -->
          <div class="w-full max-w-xs xl:max-w-lg 2xl:max-w-2xl bg-gray-100 rounded-md hidden lg:flex items-center">
            <select class="bg-transparent uppercase font-bold text-sm p-4 mr-4" name="" id="">
              <option>all categories</option>
            </select>
            <input class="border-l border-gray-300 bg-transparent font-semibold text-sm pl-4" type="text"
              placeholder="I'm searching for ..." />
            <svg class="ml-auto h-5 px-4 text-gray-500" aria-hidden="true" focusable="false" data-prefix="far"
              data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
              class="svg-inline--fa fa-search fa-w-16 fa-9x">
              <path fill="currentColor"
                d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z">
              </path>
            </svg>
          </div>
          <!-- phone number -->
          <div class="ml-auto md:w-48 hidden sm:flex flex-col place-items-end">
            <span class="font-bold md:text-xl">0212 212 12 12</span>
            <span class="font-semibold text-sm text-gray-400">7/24 Destek</span>
          </div>
          <!-- buttons -->
          <nav class="contents">
            <ul class="ml-4 xl:w-48 flex items-center justify-end ">
              <li class="ml-2 lg:ml-4 relative inline-block ">
                <a class="" href="login.html">
                  <svg class="h-9 lg:h-10 p-2 text-gray-500 block " aria-hidden="true" focusable="false"
                    data-prefix="far" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512" class="svg-inline--fa fa-user fa-w-14 fa-9x">
                    <path fill="currentColor"
                      d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z">
                    </path>
                  </svg>
                  <p class="text-black account">Giriş yap</p>
                </a>
              </li>
              <li class="ml-2 lg:ml-4 relative inline-block">
                <a class="" href="">
                  <div class="absolute -top-1 right-0 z-10 bg-yellow-400 text-xs font-bold px-1 py-0.5 rounded-sm">0
                  </div>
                  <svg class="h-9 lg:h-10 p-2 text-gray-500" aria-hidden="true" focusable="false" data-prefix="far"
                    data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    class="svg-inline--fa fa-heart fa-w-16 fa-9x">
                    <path fill="currentColor"
                      d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z">
                    </path>
                  </svg>
                </a>
              </li>
              <li class="ml-2 lg:ml-4 relative inline-block">
                <button onclick="openModal()">
                  <div class="absolute -top-1 right-0 z-10 bg-yellow-400 text-xs font-bold px-1 py-0.5 rounded-sm"
                    id="basket_product_sum">0</div>
                  <svg class="h-9 lg:h-10 p-2 text-gray-500" aria-hidden="true" focusable="false" data-prefix="far"
                    data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                    class="svg-inline--fa fa-shopping-cart fa-w-18 fa-9x">
                    <path fill="currentColor"
                      d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z">
                    </path>
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
          <!-- cart count -->
          <div class="ml-4 hidden sm:flex flex-col font-bold">
            <span class="text-xs text-gray-400">Sepetin</span>
            <span id="sub_total">$2,650,59</span>
          </div>
        </div>
        <hr />
        <!-- header navigation -->
        <div class="container mx-auto px-4 py-2 flex items-center ">
          <!-- cta -->
          <button
            class="bg-yellow-400 text-black hover:bg-gray-700 font-bold uppercase px-4 xl:px-6 py-2 xl:py-3 rounded flex-shrink-0 flex items-center">
            <svg class="h-8 p-1" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bars" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14 fa-9x">
              <path fill="currentColor"
                d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z"
                class=""></path>
            </svg>
            <span class="ml-4">shop by category</span>
          </button>
          <!-- menu -->
          <nav class="hidden xl:contents ml-8">
            <ul class="flex items-center text-black text-sm font-bold">
              <li class="px-2 lg:px-3 flex items-center">
                <svg class="h-7 lg:h-8 p-2 flex-shrink-0" aria-hidden="true" focusable="false" data-prefix="far"
                  data-icon="bolt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                  class="svg-inline--fa fa-bolt fa-w-12 fa-9x">
                  <path fill="currentColor"
                    d="M377.8 167.9c-8.2-14.3-23.1-22.9-39.6-22.9h-94.4l28.7-87.5c3.7-13.8.8-28.3-7.9-39.7C255.8 6.5 242.5 0 228.2 0H97.7C74.9 0 55.4 17.1 52.9 37.1L.5 249.3c-1.9 13.8 2.2 27.7 11.3 38.2C20.9 298 34.1 304 48 304h98.1l-34.9 151.7c-3.2 13.7-.1 27.9 8.6 38.9 8.7 11.1 21.8 17.4 35.9 17.4 16.3 0 31.5-8.8 38.8-21.6l183.2-276.7c8.4-14.3 8.4-31.5.1-45.8zM160.1 457.4L206.4 256H47.5L97.7 48l127.6-.9L177.5 193H334L160.1 457.4z">
                  </path>
                </svg>
                <span class="truncate max-w-24">Deal Today</span>
              </li>
              <li class="px-2 lg:px-3 flex items-center">
                <svg class="h-7 lg:h-8 p-2 flex-shrink-0" aria-hidden="true" focusable="false" data-prefix="far"
                  data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                  class="svg-inline--fa fa-tag fa-w-16 fa-9x">
                  <path fill="currentColor"
                    d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a47.998 47.998 0 0 0 14.059 33.941l211.882 211.882c18.745 18.745 49.137 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM259.886 463.996L48 252.118V48h204.118L464 259.882 259.886 463.996zM192 144c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z">
                  </path>
                </svg>
                <span class="truncate max-w-24">Special Prices</span>
              </li>
              <li class="px-2 lg:px-3 flex items-center">
                <span>Fresh</span>
                <svg class="ml-1 h-7 lg:h-8 p-2 pr-0 text-gray-500" aria-hidden="true" focusable="false"
                  data-prefix="far" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512" class="svg-inline--fa fa-chevron-down fa-w-14 fa-9x">
                  <path fill="currentColor"
                    d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z">
                  </path>
                </svg>
              </li>
            </ul>
          </nav>
          <a href="" class="ml-auto flex-shrink-0 flex items-center">
            <svg class="h-7 lg:h-8 p-1 sm:p-2 md:text-gray-500" aria-hidden="true" focusable="false" data-prefix="far"
              data-icon="sync-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
              class="svg-inline--fa fa-sync-alt fa-w-16 fa-9x">
              <path fill="currentColor"
                d="M483.515 28.485L431.35 80.65C386.475 35.767 324.485 8 256 8 123.228 8 14.824 112.338 8.31 243.493 7.971 250.311 13.475 256 20.301 256h28.045c6.353 0 11.613-4.952 11.973-11.294C66.161 141.649 151.453 60 256 60c54.163 0 103.157 21.923 138.614 57.386l-54.128 54.129c-7.56 7.56-2.206 20.485 8.485 20.485H492c6.627 0 12-5.373 12-12V36.971c0-10.691-12.926-16.045-20.485-8.486zM491.699 256h-28.045c-6.353 0-11.613 4.952-11.973 11.294C445.839 370.351 360.547 452 256 452c-54.163 0-103.157-21.923-138.614-57.386l54.128-54.129c7.56-7.56 2.206-20.485-8.485-20.485H20c-6.627 0-12 5.373-12 12v143.029c0 10.691 12.926 16.045 20.485 8.485L80.65 431.35C125.525 476.233 187.516 504 256 504c132.773 0 241.176-104.338 247.69-235.493.339-6.818-5.165-12.507-11.991-12.507z">
              </path>
            </svg>
            <span class="hidden sm:inline ml-1 font-bold">Recently Viewed</span>
          </a>
        </div>
      </header>


      <main>
        <section class="juice3 bg-gray-100 bg-opacity-90 py-10  bg-gradient-to-r from-cyan-500 to-blue-500 ">
          <div class="container mx-auto px-4 flex flex-col lg:flex-row">
            <!-- left -->
            <div class=" relative lg:w-2/3 rounded-xl bg-secondary-lite bg-cover p-8 md:p-16">
              <p class="max-w-sm text-secondary text-3xl md:text-4xl font-semibold">Sizin için buradayız
              </p>
              <p class="max-w-xs pr-10 text-secondary font-semibold mt-8">Yeterki siz isteyin</p>
              <button class="mt-20 bg-white font-semibold px-8 py-2 rounded">Shop Now</button>
              <div class="absolute bottom-8 right-8 md:bottom-5 md:right-5 flex">
                <a href class="h-6 w-6 flex items-center justify-center rounded-md bg-white">

                </a>
                <a href class="ml-1.5 h-6 w-6 flex items-center justify-center rounded-md bg-yellow-400">
                  <svg class="h-3 text-gray-700" aria-hidden="true" focusable="false" data-prefix="far"
                    data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                    class="svg-inline--fa fa-chevron-right fa-w-8 fa-3x">
                    <path fill="currentColor"
                      d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
            <!-- right -->
            <div class="juice2 mt-6 lg:mt-0 lg:ml-6 lg:w-1/3 rounded-xl bg-primary-lite bg-cover p-8 md:p-16">
              <div class="max-w-sm">
                <p class="text-3xl md:text-4xl font-semibold uppercase">20% indirim</p>
                <p class="mt-8 font-semibold">İlk siparişinize özel</p>
                <button class="mt-20 bg-white font-semibold px-8 py-2 rounded">Shop Now</button>
              </div>
            </div>
          </div>
        </section>

        <section class="container mx-auto pt-12 bg-white">
          <!-- title -->
          <div class="relative flex items-end font-bold">
            <h2 class="text-2xl">Kategorilere Göre Gözat</h2>
            <a href class="ml-10 flex items-center text-gray-400">
              <path fill="currentColor"
                d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z">
              </path>
              </svg>
            </a>
            <div class="ml-auto flex">
              <a href class="h-6 w-6 flex items-center justify-center rounded-md bg-gray-100">
                <svg class="h-3 text-gray-700" aria-hidden="true" focusable="false" data-prefix="far"
                  data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                  class="svg-inline--fa fa-chevron-left fa-w-8 fa-3x">
                  <path fill="currentColor"
                    d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z">
                  </path>
                </svg>
              </a>
              <a href class="ml-1.5 h-6 w-6 flex items-center justify-center rounded-md bg-yellow-400">
                <svg class="h-3 text-gray-700" aria-hidden="true" focusable="false" data-prefix="far"
                  data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                  class="svg-inline--fa fa-chevron-right fa-w-8 fa-3x">
                  <path fill="currentColor"
                    d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
          <!-- cards -->
          <div class="mt-10 m-50">
            <ul class="-m-4 flex">
              <li
                class="m-3.5 h-60 w-40 bg-gray-100 rounded-xl flex flex-col items-center justify-center text-center duration-300 hover:bg-white hover:shadow-2xl">
                <img class="max-h-40"
                  src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQYViujWz_zZwCcGuT6i9RvwiPYJlMlUqGcoYGlnFuy8aLep7ytLUSlHJazzK0MU4zZjEcVZiW36vYC6exkRh3hv8T2vp7lSg9C9SksAaeFYp15i5_PIhQs&usqp=CAE"
                  alt="" />
                <span class="font-semibold">Kadın</span>
              </li>
              <li
                class="m-3.5 h-60 w-40 bg-gray-100 rounded-xl flex flex-col items-center justify-center text-center duration-300 hover:bg-white hover:shadow-2xl">
                <img class="max-h-40"
                  src="https://static.ticimax.cloud/cdn-cgi/image/width=-,quality=85/5334/uploads/urunresimleri/buyuk/fume-baskili-oversize-erkek-tisort-8aa396.jpg"
                  alt="" />
                <span class="font-semibold m-1">Erkek</span>
              </li>
              <li
                class="m-3.5 h-60 w-40 bg-gray-100 rounded-xl flex flex-col items-center justify-center text-center duration-300 hover:bg-white hover:shadow-2xl">
                <img class="max-h-40"
                  src="https://eflatunhediyelik.com/wp-content/uploads/2023/01/Kisiye-Ozel-Erkek-Cocuk-Tisort-Tasarla.kisiye-ozelkisiye-ozel-tasarlakisiye-ozel-baskikapida-odeme.jpg"
                  alt="" />
                <span class="font-semibold m-2">Çocuk</span>
              </li>

            </ul>
          </div>
        </section>





      </main>
    </div>



    <section class="relative">


      <div class="recommender">


        <section class="bg-white py-12 text-gray-700 sm:py-16 lg:py-20">
          <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 category_list">
            <div class="mx-auto max-w-md text-center">
              <h2 class="font-serif text-2xl font-bold sm:text-3xl category category_name">ÜRÜNLERİMİZDEN</h2>
            </div>

            <div class="mt-10 grid grid-cols-2 gap-6 sm:grid-cols-4 sm:gap-4 lg:mt-16 categories">
              <!-- category products article-->
            </div>


          </div>

        </section>

      </div>



      <div id="shoppingCartModal" class="relative z-50 hidden" aria-labelledby="slide-over-title" role="dialog"
        aria-modal="true">

        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 overflow-hidden">
          <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">

              <div class="pointer-events-auto w-screen max-w-md">
                <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                  <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                    <div class="flex items-start justify-between">
                      <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
                      <div class="ml-3 flex h-7 items-center">
                        <button type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
                          onclick="closeModal()">
                          <span class="absolute -inset-0.5"></span>
                          <span class="sr-only">Close panel</span>
                          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="mt-8">
                      <div class="flow-root transition-transform">
                        <ul id="basket-container" role="list" class="-my-6 divide-y divide-gray-200 transition-transform">
                          <!-- More products... -->
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <p>Subtotal</p>
                      <p id="sub_total_2">$262.00</p>
                    </div>
                    <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
                    <div class="mt-6">
                      <a href="#"
                        class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
                    </div>
                    <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                      <p>
                        or
                        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                          Continue Shopping
                          <span aria-hidden="true"> &rarr;</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>






    </section>


















    <!-- footer -->
    <footer class="bg-gray-50">
      <div class="mx-auto grid max-w-screen-xl gap-y-8 gap-x-12 px-4 py-10 md:grid-cols-2 xl:grid-cols-4 xl:px-10">
        <div class="max-w-sm">
          <div class="mb-6 flex h-12 items-center space-x-2">
            <div class="logo">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/ZDF_logo%21_Logo_2021.svg/1200px-ZDF_logo%21_Logo_2021.svg.png"
                alt="logo">
            </div>
          </div>
          <div class="text-gray-500">Sizlere en iyi hizmeti vermek için buradayız</div>
        </div>
        <div class="">
          <div class="mt-4 mb-2 font-medium xl:mb-4">Address</div>
          <div class="text-gray-500">
            Ci̇kci̇lli̇ mah. 201 sk.<br />
            Yılmazoglu apt., <br />
            no: 17/4 Alanya
          </div>
        </div>
        <div class="">
          <div class="mt-4 mb-2 font-medium xl:mb-4">Links</div>
          <nav aria-label="Footer Navigation" class="text-gray-500">
            <ul class="space-y-3">
              <li><button class="hover:text-blue-600 hover:no-underline" id="openModalButton">Hakkımızda</button></li>
              <li><button class="hover:text-blue-600 hover:underline" onclick="openContactModal()">Bizimle İletişime
                  Geçin</button></li>
            </ul>
          </nav>
        </div>
        <div class="">
          <div class="mt-4 mb-2 font-medium xl:mb-4">Subscribe to our Newsletter</div>
          <div class="flex flex-col">
            <div class="mb-4">
              <input type="email"
                class="focus:outline mb-2 block h-14 w-full rounded-xl bg-gray-200 px-4 sm:w-80 focus:outline-none focus:ring-1 focus:ring-blue-600"
                placeholder="Enter your email" />
              <button class="block rounded-xl bg-blue-600 px-6 py-3 font-medium text-white">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-100">
        <div
          class="mx-auto flex max-w-screen-xl flex-col gap-y-4 px-4 py-3 text-center text-gray-500 sm:flex-row sm:justify-between sm:text-left">
          <div class="">© 2023 Ahmet İhtiyar | All Rights Reserved</div>
          <div class="">
            <a class="" href="#">Gizlilik Pllitikası</a>
            <span>|</span>
            <a class="" href="#">Kullanım Şartları</a>
          </div>
        </div>
      </div>
    </footer>


    <!-- Modal -->
    <div id="myModal"
      class="fixed inset-0 hidden justify-center items-center overflow-x-hidden overflow-y-auto fixed inset-0 z-50">
      <div class="bg-black opacity-50 absolute inset-0"></div>

      <div class="bg-white p-8 rounded-lg max-w-7xl mx-auto z-50 relative">
        <button id="closeModalButton" class="absolute top-4 right-4 text-gray-600">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>

        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="https://tailus.io/sources/blocks/left-image/preview/images/startup.png" alt="image" loading="lazy"
              width="" height="">
          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Hakkımızda</h2>
            <p class="mt-6 text-gray-600">
              Hoş Geldiniz! Biz <strong>LOGO</strong>, 2010 yılında kurulmuş dinamik ve yenilikçi bir ekibiz.
              Misyonumuz, müşterilerimize en kaliteli ürünleri ve hizmetleri sunarak, ihtiyaçlarını en üst düzeyde
              karşılamak ve memnuniyetlerini sağlamaktır.
            </p>
            <p class="mt-4 text-gray-600">
              LOGO olarak, teknoloji ve müşteri memnuniyeti odaklı çalışıyoruz. Yüksek standartlarda ürünlerimizle
              müşterilerimize değer katmayı hedefliyoruz.
            </p>
            <p class="mt-4 text-gray-600">
              Ekibimiz, tutku ve uzmanlıkla dolu, sürekli gelişen ve yeniliklere açık bir yapıya sahiptir.
              Müşterilerimizin beklentilerini aşmak için çaba gösteriyor ve kaliteli hizmet sunmayı ilke ediniyoruz.
            </p>
            <p class="mt-4 text-gray-600">
              Siz değerli müşterilerimizle birlikte daha nice başarılı projelere imza atmayı dört gözle bekliyoruz.
            </p>
          </div>
        </div>
      </div>
    </div>




    <!-- iletişime geçin -->
    <!-- Modal -->
    <div id="myContactModal"
      class="fixed inset-0 hidden justify-center items-center overflow-x-hidden overflow-y-auto fixed inset-0 z-50">
      <div class="bg-black opacity-50 absolute inset-0"></div>

      <div class="bg-white p-8 rounded-lg max-w-7xl mx-auto z-50 relative">
        <button id="closeModalButton" class="absolute top-4 right-4 text-gray-600" onclick="closeContactModal()">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>

        <div class="container mx-auto my-4 px-4 lg:px-20">
          <div class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl">
            <div class="flex">
              <h1 class="font-bold uppercase text-5xl">Görüşleriniz <br /> bizim için değerli</h1>
            </div>
            <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
              <input
                class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="text" placeholder="First Name*" />
              <input
                class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="text" placeholder="Last Name*" />
              <input
                class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="email" placeholder="Email*" />
              <input
                class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
                type="number" placeholder="Phone*" />
            </div>
            <div class="my-4">
              <textarea placeholder="Message*"
                class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
            </div>
            <div class="my-2 w-1/2 lg:w-1/4">
              <button
                class="uppercase text-sm font-bold tracking-wide bg-blue-900 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline">
                Send Message
              </button>
            </div>
          </div>

          <div class="w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-blue-900 rounded-2xl">
            <div class="flex flex-col text-white">
              <h1 class="font-bold uppercase text-4xl my-4">Her daim kapımız açık</h1>
              <p class="text-gray-400">
                Değerli müşterilerimiz siz bizim için değerlisiniz
              </p>

              <div class="flex my-4 w-2/3 lg:w-1/2">
                <div class="flex flex-col">
                </div>
                <div class="flex flex-col">
                  <h2 class="text-2xl">Genel ofis</h2>
                  <p class="text-gray-400">Ci̇kci̇lli̇ mah. 201 sk.
                    Yılmazoglu apt.,
                    no: 17/4 Alanya</p>
                </div>
              </div>

              <div class="flex my-4 w-2/3 lg:w-1/2">

                <div class="flex flex-col">
                  <h2 class="text-2xl">Bizi</h2>
                  <p class="text-gray-400">Tel: 212-212-12-12</p>
                  <p class="text-gray-400">Fax: 212-212-12-12</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <script src="https://cdn.tailwindcss.com"></script>
  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>